{{ define "layout.actions" }}
<div>
    <div class="actions">
        <button class="action" hx-on:click="toggleMenu('leftmenu')" hx-swap=none>
            <span class="symbols">menu</span>
        </button>
        <span id="leftmenu" class="hide">
            {{range .Actions}}  
                <div id="{{.Name}}" class="hide"
                    hx-get="/{{.Name}}" hx-swap="innerHTML" hx-target="#slot-left">
                </div>
                <button class="action" hx-on:click="doAction('{{.Name}}')">
                    <span class="symbols">{{.Icon}}</span>
                </button>
            {{ end }}
            <div id="slot-left" class="slot-left"></div>
        </span>
    </div>
    <div class="actions-right">
        <button class="action" 
            hx-put="/filesave" hx-swap=none>
            <span class="symbols">file_save</span>
        </button>
        <button class="action" 
            hx-put="/resetcontrols" hx-swap=none>
            <span class="symbols">reset_settings</span>
        </button>

        <button class="action" 
            hx-put="{{.Recorder.Url}}" hx-swap=none>
            <span class="symbols">{{.Recorder.Icon}}</span>
        </button>
    </div>
</div>
{{ end }}

{{ define "layout.sun" }}
    <div class="content">
        <h3><span class="symbols">wb_twilight</span> <span class="title">Next Sun</span></h3> 
        <ol>
        {{range .}}
            <li>{{.ShortName}} {{.FormatTime}}</li>
        {{end}}
        </ol>
    </div>
{{ end }}

{{ define "layout.wifi" }}
    <div class="content">
    <h3><span class="symbols">network_wifi</span> WIFI Signals</h3> 
        <div class="grid-container">
        {{range .}}
        <div>
            <div><span class="symbols-small">{{.SignalIcon}}</span> {{.Attributes.Name}}</div> 
            <div class="form-label">{{.State}} {{.Attributes.Units}}</div>
            <div class="note">Last Update: <span>{{.FormatTime}}</span></div>
        </div>
        {{end}}
        </div>
    </div>
{{ end }}

{{ define "layout.weather" }}
    <div class="content">
        <h3><span class="symbols">{{.Icon}}</span> {{.Attributes.Name}} {{.State}}</h3> 
        {{range .Properties}}
        <div class="form-label">
            <span class="symbols-small">{{.Icon}}</span>
            <span>{{.Label}} {{.Value}} {{.Units}}</span>
        </div>
        {{end}}
        <div class="note">{{.Attributes.Attribution}} Last Update: <span>{{.FormatTime}}</span></div>
    </div>
{{ end }}
