{{ define "layout.actions" }}
    <div class="actions">
        <button class="action" hx-on:click="toggleMenu('leftmenu')" hx-swap=none>
            <span class="symbols">menu</span>
        </button>
        <span id="leftmenu" class="hide">
            {{range .Actions}}  
                <div id="{{.Name}}" class="hide"
                    hx-get="/{{.Name}}" hx-swap="innerHTML" hx-target="#slot-left">
                </div>
                <button class="action" hx-on:click="doAction('{{.Name}}')">
                    <span class="symbols">{{.Icon}}</span>
                </button>
            {{ end }}
        </span>
    </div>
    <div class="actions-right">
        <span id="rightmenu">
            <button class="action" hx-on:click="toggleChat('chat')">
                <span class="symbols">chat</span>
            </button>

            <button class="action" 
                hx-put="/resetcontrols" hx-swap=none>
                <span class="symbols">reset_settings</span>
            </button>

            <button class="action" 
                hx-put="{{.Recorder.Url}}" hx-swap=none>
                <span class="symbols">{{.Recorder.Icon}}</span>
            </button>
        </span>
    </div>
{{ end }}

{{ define "layout.content.head" }}
	<h3 hx-on:mousedown="setdraggable('slot-left',true)"
        hx-on:mouseup="setdraggable('slot-left',false)">
        <span class="symbols">{{.Icon}}</span>
        <span>{{.Title}}</span>
    </h3> 
 
{{ end }}

{{ define "layout.sun" }}
    <div class="content">
        {{template "layout.content.head" .Action }}
        <ol>
        {{range .Sensors}}
            <li>{{.ShortName}} {{.FormatTime}}</li>
        {{end}}
        </ol>
    </div>
{{ end }}

{{ define "layout.wifi" }}
    <div class="content">
        {{template "layout.content.head" .Action }}
        <div class="grid-container">
        {{range .Sensors}}
        <div>
            <div><span class="symbols-small">{{.SignalIcon}}</span> {{.Attributes.Name}}</div> 
            <div class="form-label">{{.State}} {{.Attributes.Units}}</div>
            <div class="note">Last Update: <span>{{.FormatTime}}</span></div>
        </div>
        {{end}}
        </div>
    </div>
{{ end }}

{{ define "layout.weather" }}
    <div class="content">
        {{template "layout.content.head" .Action }}
        {{range .Properties}}
        <div class="form-label">
            <span class="symbols-small">{{.Icon}}</span>
            <span>{{.Label}} {{.Value}} {{.Units}}</span>
        </div>
        {{end}}
        <div class="note">{{.Attributes.Attribution}} Last Update: <span>{{.FormatTime}}</span></div>
    </div>
{{ end }}

