
{{ define "layout.controls" }}
<div class="content">
    {{template "layout.content.head" .Action }}
    {{range .WebcamHandlers}}
        {{range .Controls}}
        <button class="action" 
            hx-get="{{.Url}}" hx-swap="outerHTML" 
            hx-target="#response-div">
            <span class="symbols">{{.Icon}}</span> 
        </button>
        {{ end }}
    {{ end }}
</div>
<div id="response-div"></div>
{{ end }}

{{ define "layout.response" }}

<div id="response-div" class="fade-it">{{.}}</div>

{{ end }}
