{{ define "layout.lights" }}
<div class="content">
    <h3>
        <span class="symbols">backlight_high</span> 
        <span>LED Lights</span>
    </h3> 
    {{$on:="on"}}
    {{range .}}
        <div class="header">
            <span class="symbols-small">backlight_high</span>
            <span>{{.Attributes.Name}}</span>
        </div> 
        <div class="form-label">
            <span class="symbols-small">power_settings_new</span>
            <label for="lstate">State
                <input 
                    id="lstate" class="form-input" type="checkbox" 
                    name="state"
                    hx-post="/light/state" hx-swap="none"
                    hx-vals='{"id": "{{.EntityID}}"}'
                    {{if eq .State $on}}checked{{end}}>
            </label>
        </div>
            
        <div class="form-label">
            <span class="symbols-small">light_mode</span>
            <label for="lbright">Brightness
                <input hx-post="/light/brightness" hx-swap="none"
                    hx-vals='{"id": "{{.EntityID}}"}'
                    name="brightness"
                    id="lbright" class="form-input" 
                    type="range" min="0" max="255" 
                    value="{{.Attributes.Brightness}}" />
            </label>
        </div>
            
        <div class="form-label">
            <span class="symbols-small">palette</span>
            <label for="lcolor">Color
                <input hx-post="/light/color" hx-swap="none" 
                    hx-vals='{"id": "{{.EntityID}}"}'
                    name="rgb_color"
                    id="lcolor"  class="form-input" 
                    type="color" value="{{.HexColor}}" />
            </label>
        </div>
        <div class="form-label">
            <span class="symbols-small">flare</span>
            <label for="leffect">Effect
                <select hx-post="/light/effect" hx-swap="none" 
                    hx-vals='{"id": "{{.EntityID}}"}'
                    name="effect"
                    id="leffect" class="form-input">
                {{$eff:=.Attributes.Effect}}
                {{range .Attributes.EffectList}}
                    <option class="form-option" value="{{.}}"
                        {{if eq $eff .}}selected{{end}}>{{.}}
                    </option>
                {{end}}
                </select>
            </label>
        </div>
        <div class="note">Last Update: <span>{{.FormatTime}}</span></div>
    {{end}}
</div>
{{ end }}

