{{ define "layout.lights" }}
<div class="sun">
    <h3><span class="symbols">backlight_high</span> LED Lights</h3> 
    {{range .}}
        <div class="header">
            <span class="symbols-small">backlight_high</span> {{.Attributes.Name}}</div> 
        <div class="form-label">
            <label for="lstate">State</label>
                {{$on:="on"}}
                <input hx-post="/light/state" hx-swap="none"
                    hx-vals='{"id": "{{.EntityID}}"}'
                    name="state"
                    id="lstate" class="form-input" type="checkbox" {{if eq .State $on}}checked{{end}}>
            </label>
        </div>
            
        <div class="form-label">
            <label for="lbright">Brightness</label>
            <input hx-post="/light/brightness" hx-swap="none"
                hx-vals='{"id": "{{.EntityID}}"}'
                name="brightness"
                id="lbright" class="form-input" 
                type="range" min="0" max="255" 
                value="{{.Attributes.Brightness}}" />
        </div>
            
        <div class="form-label">
            <label for="lcolor">Color</label>
            <input hx-post="/light/color" hx-swap="none" 
                hx-vals='{"id": "{{.EntityID}}"}'
                name="rgb_color"
                id="lcolor"  class="form-input" 
                type="color" value="{{.HexColor}}" />
        </div>
        <div class="form-label">
            <label for="leffect">Effect</label>
            <select hx-post="/light/effect" hx-swap="none" 
                hx-vals='{"id": "{{.EntityID}}"}'
                name="effect"
                id="leffect" class="form-input">
            {{$eff:=.Attributes.Effect}}
            {{range .Attributes.EffectList}}
                <option class="form-option" value="{{.}}" {{if eq $eff .}}selected{{end}}>{{.}}</option>
            {{end}}
            </select>
        </div>
        <div class="note">Last Updated: <span>{{.FormatTime}}</span></div>
    {{end}}
</div>
{{ end }}

