{{ define "layout.lights" }}
<div id="slot-{{.Action.Name}}" class="slot" draggable="false">
    {{template "layout.content.head" .Action }}
    <div class="content">
        {{$on:="on"}}
        {{range .Lights}}
            <div class="header">
                <span class="symbols-small">backlight_high</span>
                <span>{{.Attributes.Name}}</span>
            </div> 
            <div class="form-entry">
                <label for="state" class="form-label">
                    <span class="symbols-small">power_settings_new</span>
                    State</label>
                <input id="state" class="form-input" type="checkbox" 
                    name="state"
                    hx-post="/light/state" hx-swap="none"
                    hx-vals='{"id": "{{.EntityID}}"}'
                    {{if eq .State $on}}checked{{end}}>
                
            </div>
            <div class="form-entry">
                <label for="bright" class="form-label">
                    <span class="symbols-small">light_mode</span>
                    Brightness</label>
                <input hx-post="/light/brightness" hx-swap="none"
                    hx-vals='{"id": "{{.EntityID}}"}'
                    name="brightness"
                    id="bright" class="form-input" 
                    type="range" min="0" max="255" 
                    value="{{.Attributes.Brightness}}" />
           </div>
            <div class="form-entry">
                <label for="color" class="form-label">
                    <span class="symbols-small">palette</span>
                    Color</label>
                <input hx-post="/light/color" hx-swap="none" 
                    hx-vals='{"id": "{{.EntityID}}"}'
                    name="rgb_color"
                    id="color"  class="form-input" 
                    type="color" value="{{.HexColor}}" />
            </div>
            <div class="form-entry">
                <label for="effect" class="form-label">
                    <span class="symbols-small">flare</span>
                    Effect</label>
                <select hx-post="/light/effect" hx-swap="none" 
                    hx-vals='{"id": "{{.EntityID}}"}'
                    name="effect" id="effect" class="form-input">
                    {{$eff:=.Attributes.Effect}}
                    {{range .Attributes.EffectList}}
                        <option class="form-option" value="{{.}}"
                            {{if eq $eff .}}selected{{end}}>{{.}}
                        </option>
                    {{end}}
                </select>
            </div>
            <div class="note">Last Update: <span>{{.FormatTime}}</span></div>
        {{end}}
    </div>
</div>
{{ end }}

