{{ define "layout.menu" }}
<div id="menu" class="topnav">
    <div id="camera" class="hide"
        hx-get="/camera" hx-swap="innerHTML" hx-target="#slot">
    </div>
    <button class="action" hx-on:click="doAction('camera')">
        <span class="symbols">settings_video_camera</span>
    </button>

    <div id="sun" class="hide"
        hx-get="/sun" hx-swap="innerHTML" hx-target="#slot">
    </div>
    <button class="action" hx-on:click="doAction('sun')">
        <span class="symbols">wb_twilight</span>
    </button>

    <div id="weather" class="hide"
        hx-get="/weather" hx-swap="innerHTML" hx-target="#slot">
    </div>
    <button class="action" hx-on:click="doAction('weather')">
        <span class="symbols">routine</span>
    </button>

    <div id="wifi" class="hide"
        hx-get="/wifi" hx-swap="innerHTML" hx-target="#slot">
    </div>
    <button class="action" hx-on:click="doAction('wifi')">
        <span class="symbols">wifi</span>
    </button>
    <div id="slot" class="slot"></div>
</div>

<script>
    const blank = "blank";
    var activeItem = blank;

    function doAction(action) {
        if (activeItem === action) {
            htmx.swap("#slot", "", {swapStyle: 'innerHTML'});
            activeItem = blank;
        } else {
            htmx.trigger("#"+action, "click");
            activeItem = action;
        }
    }
</script>
{{ end }}

{{ define "layout.sun" }}
    <div class="sun">
        <h3><span class="symbols">wb_twilight</span>Next Sun</h3> 
        <ol>
        {{range .}}
            <li>{{.ShortName}} {{.FormatTime}}</li>
        {{end}}
        </ol>
    </div>
{{ end }}

{{ define "layout.wifi" }}
    <div class="sun">
    <h3><span class="symbols">wifi</span>WIFI Signals</h3> 
    {{range .}}
        <div class="header"><span class="symbols-small">wifi</span> {{.Attributes.Name}}</div> 
        <ul>
            <li>Wifi Strength {{.State}}</li>
        </ul>
    <div class="note">Last Updated: <span>{{.FormatTime}}</span></div>
    {{end}}
    </div>
{{ end }}

{{ define "layout.weather" }}
    <div class="sun">
        <h3><span class="symbols">{{.Icon}}</span>{{.Attributes.Name}} {{.State}}</h3> 
        <ul>
            <li>Temperature: <span>{{.Attributes.Temperature}} {{.Attributes.TemperatureUnit}}</span></li>
            <li>Humidity: <span>{{.Attributes.Humidity}} %</span></li>
            <li>Wind Speed: <span>{{.Attributes.WindSpeed}} {{.Attributes.WindSpeedUnit}}</span></li>
            <li>Wind Bearing: <span>{{.Attributes.WindBearing}}</span></li>
            <li>Cloud Coverage: <span>{{.Attributes.CloudCoverage}} %</span></li>
            <li>Pressure: <span>{{.Attributes.Pressure}} {{.Attributes.PressureUnit}}</span></li>
            <li>Dew Point: <span>{{.Attributes.DewPoint}} {{.Attributes.TemperatureUnit}}</span></li>
        </ul>
        <div class="note">{{.Attributes.Attribution}} Last Updated: <span>{{.FormatTime}}</span></div>
    </div>
{{ end }}
