/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(symbols.woff2) format('woff2');
}

:root {
  --bgOpaque: rgba(0, 0, 0, .5);
  --bgTransparent: rgba(0, 0, 0, 0.15);
  --fgBright: rgba(0, 255, 255, 1);
  --fgDim: rgba(128, 255, 0, 0.5);
  --fgOut: rgba(128, 255, 0, 1);
}

body {
  font-family: sans-serif;
}

.material-symbols-outlined, .symbols, .symbols-small {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.symbols  {
  font-size: 2.25rem;
}
.symbols-small  {
  font-size: 1rem;
}

.source {
  position: absolute; 
  top: 0px;
  left:0px;
  width:100%;
}

.source > img {
  width: 100%;
}

.action {
  padding: 4px;
  margin: 2px;
  width: 80;
  background-color: var(--bgTransparent);
  color: var(--fgDim);
}

.sun {
  padding-top: .1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: var(--bgOpaque);
  color: var(--fgBright);
  animation-name: fade-in-slow;
  animation-timing-function: ease-out;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

@keyframes fade-in-slow {
  0% { opacity: .1; }
  70% { opacity: .5; }
  75% { opacity: .55; }
  80% { opacity: .60; }
  85% { opacity: .65; }
  90% { opacity: .70; }
  100% { opacity: .75; }
}


.hide {
  display: none;
}

li {
  font-size: .85rem;
  margin-bottom: .25rem;
}

.header {
  padding-top: .6rem;
}

.action:hover, .action:focus {
  opacity: 1; 
  background-color: var(--bgOpaque);
  color: var(--fgBright);
}

.actions {
  position: fixed;
  margin: .6rem;
  overflow: hidden;
}

.form-input {
  position: absolute;
  left: 40%;
  background-color: var(--bgTransparent);
  color: var(--fgOut);
}

.form-label {
  font-size: .85rem;
  margin: 1.5rem;
}

.form-option {
  background-color: black;
  color: var(--fgOut);
}

.title {
  margin-left: .2rem;
}

.actions-right {
  position: fixed;
  right: 0rem;
  margin: .6rem;
  overflow: hidden;
}

.note {
  font-size: .6rem;
}

.slot {
  margin-top: .3rem;
  margin-left: 3.7rem;
  width: 23rem;
  overflow: wrap;
}

@keyframes fade-out {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  75% { opacity: 0.4; }
  85% { opacity: 0.3; }
  90% { opacity: 0.2; }
  95% { opacity: 0.1; }
  100% { opacity: 0; }
}

.fade-it {
    animation-name: fade-out;
    animation-timing-function: linear;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
}

#response-div {
    top: 50%;
    left: 50%;
    position: fixed;
    text-align: center;
    text-shadow: .5rem .5rem .5rem black;
    font-size: 6rem;
    color: var(--fgBright);
}
