/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(symbols.woff2) format('woff2');
}
body {
  font-family: sans-serif;
}
.material-symbols-outlined, .symbols {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.symbols  {
  font-size: 2.5rem;
}

.source {
  position: absolute; 
  top: 0px;
  left:0px;
  width:100%;
}

.source > img {
  width: 100%;
}

.action {
  padding: 4px;
  margin: 2px;
  width: 80;
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(128, 255, 15, 0.40);
}

.sun {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(128, 255, 15, 0.40);
}

li {
  margin-bottom: 1rem;
}

.action:hover, .action:focus, .sun:hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(0, 255, 255, 1);
}

.topnav {
  position: fixed;
  margin: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.15);
}

#overlay {
  width: 100%;
  z-index: 9;
}

.slot {
  margin-top: 1.5rem;
  margin-left: 3rem;
}

@keyframes fade-out {
  0%  { opacity: 1; }
  50% { opacity: 0.5; }
  75% { opacity: 0.4; }
  85% { opacity: 0.3; }
  90% { opacity: 0.2; }
  95% { opacity: 0.1; }
  100% { opacity: 0; }
}

.fade-it {
    animation-name: fade-out;
    animation-timing-function: ease-in;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
}

#response-div {
    top: 50%;
    left: 50%;
    position: fixed;
    text-align: center;
    text-shadow: .5rem .5rem .5rem black;
    font-size: 6rem;
    color: rgb(0,255,255);
}
