#ws-status {
	color: #8aa487;
}
#ws-status::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 19px;
	margin-right: 0.2em;
	vertical-align: middle;
	background-image: url(/static/sprite.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100px 19px;
}
#ws-status[ws-status="connected"] { color: #8aa487; }
#ws-status[ws-status="error"] { color: #c4796f; }
#ws-status[ws-status="connecting"] { color: #c8ad97; }
#ws-status[ws-status="disconnected"] { color: #8e8e8e; }

#ws-status[ws-status="connected"]::before { background-position: left center; }
#ws-status[ws-status="error"]::before { background-position: -25px center; }
#ws-status[ws-status="connecting"]::before { background-position: -50px center; }
#ws-status[ws-status="disconnected"]::before { background-position: right center; }

#users ul { padding-left: 20px; }
#messages { padding-left: 20px; }
